---
layout: book
---
<div id="wrapper">

  <div id="sidepane">
    <div id="bookplate"><a href="chapter-1.html"><img src="../images/2006.cover.jpg" alt="why's (poignant) guide to ruby" /></a></div>
    <div id="bookseal"><a href="chapter-1.html"><img src="../images/2006.seal.jpg" alt="打开本书" /></a></div>
    <div id="bookcontents">
      <h3>~ 目录 ~</h3>
      <ol class=toc>
        {% for chapter in site.posts reversed %}
        <li>
          <a href="{{ chapter.url | remove_first:"/book/" }}">{{ chapter.title | escape }}</a>
          {% if chapter.sections %}
          <ol>{% for section in chapter.sections %}
            <li><a href="{{ chapter.url | remove_first:"/book/" }}#{{ section.first }}">{{ section.last | escape }}</a></li>
          {% endfor %}</ol>
          {% endif %}
        </li>
        {% endfor %}
      </ol>
      <h4>+ Expansion Paks +</h4>
      <ol class=toc>
        <li><a href="expansion-pak-1.html">The Tiger's Vest (with a Basic Introduction to Irb)</a></li>
      </ol>

      <h4>+ See Also +</h4>
      <ol class=toc>
        <li><a href="../dwemthy/">Dwemthy's Array</a>: the official site for the <i>(Poignant) Guide</i>'s own MINI_ADVENTURE.</li>
      </ol>
    </div>
  </div>

  <div id="main">
    <div class="foxbox">
      <div class="foxbox_head">
        <h3>狐狸在 <a href="chapter-6.html">第六章. 市中心. </a>迷路了  &nbsp;&nbsp;
          如此生动的元编程和类设计!</h3>
      </div>

      <div class="foxbox_body">
        <p><b>T恤</b>:
          <a href="http://www.cafeshops.com/blixytees.10117492">"像宠物小精灵一样让人上瘾..."</a>,
          <a href="http://www.cafeshops.com/blixytees.10116504">"厚实的咸肉"</a>, 和
          <a href="http://www.cafeshops.com/blixytees">其他</a>.
        </p>
        <p><br></p>
      </div>
    </div>

    <!-- Page Content discussing Ruby, the book, and my site -->

    <br />

{% capture intro %}
## 读读这一段

在我当地的Barnes和Noble，有一大堆如墙似的Java书籍，正等着有一天翻到过来压倒我。
按照这样的增长速度，总有一天书柜会高到足以压倒我们所有人。把所有一版又一版的相同的
Java书籍推起来，甚至可以绕地球好几圈。

## 还有这一段

这只是一个小小的Ruby书籍。它不会压倒你。它轻如鸿毛（因为我还没有写完，呵呵）。
而且这本书有一个使它这么轻薄的理由：因为Ruby简单易学。

## 但是不要读这一段

*Why先生（辛酸的）Ruby指南*是通过[署名-相同方式共享][1]许可发布的。所以，是的，
请穿着你的家常服分发并打印出来读它吧。事实上，在本书的最后将会有一个最佳家常服比赛。
这是一个令人垂涎欲滴的奖项，你甚至应该为能够读到它而感到荣幸！（特别是当你穿着
即将获得奖项的家常服读它的时候。）

## 现在回到你的定期计划段落

如果这本书没有俘获你的芳心，我将尝试着感觉没有完全被拒绝。我可能会空虚好一些日子，
伴随着嚎啕大哭，但除此之外我不会有事的。知道用以下优良的书本来代替我的主题，至少能够
让我感到安慰，而且这无疑会填补你对Ruby的强烈欲望：

*   [学习编程(Learning to Program)][2]

    * 对Ruby初学者的非常基本的初级教程。 —— Chris Pine.

*   [Ruby程序设计(Programming Ruby)][3]

    * Ruby完全参考手册. —— Dave Thomas 和Andy Hunt (也称作_镐头书_)

*   [Ruby用户指南(Ruby User’s Guide)][4]

    * 一个学习Ruby的指南手册，带有代码例子。—— Matz，Ruby的创造者 ，英文版.

*   [Ruby官方网站][5]

    * Ruby语言的官方主页。

现在，如果你你找不到左侧目录的链接页面，那么这里是到达这本（辛酸的）指南[第一页][6]的链接。

欢迎来到技术手册的盗版电台。


[1]: http://creativecommons.org/licenses/by-sa/2.5/
[2]: http://pine.fm/LearnToProgram/
[3]: http://pragprog.com/book/ruby3/programming-ruby-1-9
[4]: http://www.rubyist.net/~slagell/ruby/
[5]: http://www.ruby-lang.org/
[6]: chapter-1.html
{% endcapture %}
{{ intro | markdownify }}

            <div class="bulletin">

                <!-- Creative Commons License -->
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/"><img alt="Creative Commons License" src="http://creativecommons.org/images/public/somerights20.gif" /></a><br />
                这项工作室根据<a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/">知识共享许可</a>.
                <!-- /Creative Commons License -->


                <!--

                <rdf:RDF xmlns="http://web.resource.org/cc/"
                    xmlns:dc="http://purl.org/dc/elements/1.1/"
                    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                <Work rdf:about="">
                   <dc:type rdf:resource="http://purl.org/dc/dcmitype/Text" />
                   <license rdf:resource="http://creativecommons.org/licenses/by-sa/2.5/" />
                </Work>

                <License rdf:about="http://creativecommons.org/licenses/by-sa/2.5/">
                   <permits rdf:resource="http://web.resource.org/cc/Reproduction" />
                   <permits rdf:resource="http://web.resource.org/cc/Distribution" />
                   <requires rdf:resource="http://web.resource.org/cc/Notice" />
                   <requires rdf:resource="http://web.resource.org/cc/Attribution" />
                   <permits rdf:resource="http://web.resource.org/cc/DerivativeWorks" />
                   <requires rdf:resource="http://web.resource.org/cc/ShareAlike" />
                </License>

                </rdf:RDF>

                -->

            </div>

    </div>

</div>
